# Обязательно: API ключи для внешних сервисов
# Получить на: https://www.virustotal.com/gui/my-apikey
VIRUSTOTAL_API_KEY=487b526669dd720c3f32bb63646e9ef06473b19e078affae7288ecd666c90446

# Получить на: https://otx.alienvault.com/api (бесплатно)
OTX_API_KEY=a0a7305048871507bc624c3cc6ef2081031e7991c945797b06266d7895955004

# Получить на: https://developers.google.com/safe-browsing (бесплатно)
SAFE_BROWSING_API_KEY=AIzaSyBJjIFgote4d3_x3Z-7_TDfk9XhhSpescg

# Опционально — переопределить дефолты
REDIS_URL=redis://localhost:6379
DATABASE_URL=postgres://postgres:postgres@localhost:5432/sandbox
RUST_LOG=info
